@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Vidaloka&display=swap');
body{
    background-color: #f3e2dd;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f3e2dd, #d3c4bf);
    background: linear-gradient(to right, #f3e2dd, #d3c4bf); 

}

p{
    color: #0E0510;
}

.lebron{
    height: 50vh;
}

.card{
    box-shadow: #0E0510;
    padding: 5vh;
}

.navbar{
    background-color: #f3e2dd;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f3e2dd, #d3c4bf);
    background: linear-gradient(to right, #f3e2dd, #d3c4bf); 
}

.container{
    margin-top: 15px;
}

.vidaloka{
    font-family: 'Vidaloka', serif;
}

.montserrat{
    font-family: 'Montserrat', sans-serif;
}