@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Vidaloka&display=swap');

body {
    background-color: #f3e2dd;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f3e2dd, #d3c4bf);
    background: linear-gradient(to right, #f3e2dd, #d3c4bf);

}

p {
    color: #0E0510;
}

.active {
    border-bottom: 3px #0E0510;
}

.lebron {
    height: 50vh;
}

.profile-picture {
    padding: 0;
    width: 100%;
}

.profile-picture img {
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
}

.profile-bio {
    height: 100%;
    background-color: #ffffff;
    padding: 5% 20px;
}

.profile-bio h1 {
    text-align: center;
    margin-bottom: 10%;
}

.profile-bio p {
    text-align: justify;
    padding: 0vh 5vh 0vh 5vh;
}

.card {
    box-shadow: #0E0510;
    padding: 0vh 10vh 0vh 10vh;
    margin-bottom: 10vh;
}

.navbar {
    background-color: #f3e2dd;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f3e2dd, #d3c4bf);
    background: linear-gradient(to right, #f3e2dd, #d3c4bf);
}

.container {
    margin-top: 15px;
}

.vidaloka {
    font-family: 'Vidaloka', serif;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}